Checks: >
  bugprone-*,
  -bugprone-exception-escape,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type
  -performance-unnecessary-value-param
  
WarningsAsErrors: ''
HeaderFilterRegex: '/workspace/src/quadcontrol_core/.*'
FormatStyle: file